{% load static %}
{% load bootstrap_icons %}

{% block blog_list %}
<div class="container" id="course-content">

    <div class="row">
        <div class="col-12 mx-auto">
            <div class="panel panel-default border">
                <div class="panel-heading ps-3">
                    <h3 class="panel-title border-bottom pb-2"> {% bs_icon 'list-task' %} <span
                            class="Add_Course">Blog List</span></h3>
                </div>
                <div class="panel-body bg-white px-3 py-3">

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                
                                <th scope="col" class="text-center"><input type="checkbox" id="checkall" onclick="checkAll()"></th>

                                <th scope="col">Title</th>
                                
                                <th scope="col">Description</th>
                                
                                <th scope="col">Courses</th>
                                
                                <th scope="col">Images</th>

                                <th scope="col" class="text-end">Action</th>
                                
                            </tr>
                        </thead>
                        <tbody>

                            {% for x in page_obj %}
                            <tr>

                                <td class="text-center"><input type="checkbox" class="check" name="id" value="{{x.id}}"></td>

                                <td>{{x.title}}</td>
                                
                                <td>{{x.description}}</td>
                                
                                <td>{{x.course}}</td>

                                <td>
                                    <img src="{{ x.images.url }}" alt="connect" style="max-height:50px">
                                </td>

                                <td class="text-end" ><a onclick="updateBlogPage(`{% url 'update_blog' x.id %}`)" id="update" class="btn btn-class">{% bs_icon 'pencil' %}</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="pagination">
                        <span class="step-links">
                            {% if page_obj.has_previous %}
                                <a href="?page=1">&laquo; first</a>
                                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                            {% endif %}
                    
                            <span class="current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>
                    
                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">next</a>
                                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}