{% load static %}
{% load bootstrap_icons %}

{% block course_list %}
<div class="container" id="specific-div">

    <div class="row">
        <div class="col-12 mx-auto">
            <div class="panel panel-default border">
                <div class="panel-heading ps-3">
                    <h3 class="panel-title border-bottom pb-2"> {% bs_icon 'pencil' %} <span class="Add_Course">Edit
                            Courses</span></h3>
                </div>
                <div class="panel-body bg-white px-3 py-3">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_Title">Course Name</label>
                            <div>
                                <input type="text" name="Title" id="id_Title" value="{{ datas.Title }}"
                                    class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="id_Description">Description</label><br>
                            {{ form.Description }}
                        </div>

                        <!-- <div class="form-group">
                            <label for="id_Technologies">Topics</label>
                            <input type="text" name="Technologies" id="id_Technologies" class="form-control"
                                value="{{ datas.Technologies }}">
                        </div> -->

                        <div class="form-group">
                            <label for="id_Technologies">Topics</label>
                            <div id="technologiesContainer">
                                <input type="text" name="Technologies" id="id_Technologies_0" class="form-control"
                                    value="{{ datas.Technologies }}">
                            </div>
                            <button type="button" onclick="addTechnologyField()"
                                class="btn btn-sm btn-success mt-2">+</button>
                        </div>
                        <button type="button" onclick="getTechnologiesValues()" class="btn btn-sm btn-primary mt-2">Get
                            Values</button>




                        <div class="form-group">
                            <label for="id_Images">Banner Images</label>
                            <img id="images" src="{{ datas.Images.url }}" alt="{{ datas.Images }}" width="100"
                                height="100">
                            <input type="file" name="images" onchange="checkFileSize(this)" accept="image/*"
                                id="id_Images">
                        </div>

                        <div class="form-group">
                            <label for="status">Status</label>
                            {{form.status}}
                        </div>
                        <button type="button" onclick="UpdateCourses('{{ datas.id }}')"
                            class="btn btn-primary">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}