{% load static %}
{% load bootstrap_icons %}

{% block testimonial_list %}
<div class="container" id="specific-div">
 
        <div class="row">
            <div class="col-12 mx-auto">
                <div class="panel panel-default border">
                    <div class="panel-heading ps-3">
                        <h3 class="panel-title border-bottom pb-2"> {% bs_icon 'pencil' %}  <span class="Add_Course">Edit Testimonial</span></h3>
                    </div>
                    <div class="panel-body bg-white px-3 py-3">
                        <form method="POST" action="{% url 'update_testimonial' datas.id %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="title">student_name</label>
                                <div>
                                    <input type="text" name="student_name" id="title" value="{{ datas.student_name }}" class="form-control" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="id_description">testimonial</label>
                                <textarea id="id_description" name="testimonial" class="form-control"> {{datas.testimonial}} </textarea>
                            </div>
                            <div class="form-group">
                                <label for="technologies">course</label>
                                <input type="text" name="course" id="technologies" value="{{ datas.course }}" class="form-control" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label for="technologies">date</label>
                                <input type="date" name="date" id="technologies" value="{{ datas.date }}" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="technologies">picture</label>
                                <img src="{{ datas.picture.url }}" alt="{{ datas.picture }}" style="max-height: 40px;">
                                <input type="file" name="picture" id="technologies" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-primary">update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
   
</div>
{% endblock %}
