{% load static %}
{% load bootstrap_icons %}

{% block testimonial_navbar %}
    <div class="col-12" id="navbar-content">
        <div class="row py-3">
            <div class="col-10">
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid">
                        <a class="navbar-brand Dashboard" href="#">
                            <h1>Testimonial</h1>
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse " id="navbarSupportedContent">
                            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                <ol class="breadcrumb navbar-div">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active text-info" aria-current="page"><a href="#">Testimonial</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-2 d-flex justify-content-end">
                <a ><button onclick="loadTestimonialPage()" data-toggle="tooltip" title="Add New" type="button" class="btn" id="plus"><span class="plus">+</span></button></a>
                <a href="#"><button data-toggle="tooltip" title="Delete" type="button" class="btn" id="trash">{% bs_icon 'trash'%}</button></a>
            </div>
        </div>
    </div>
{% endblock %}
